* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: normal;
    max-width: 100%;
  }
  
body {
    background: #DED6C4;
    text-align: center;
}

.brand{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 9rem;
    margin-bottom: 5rem;
}
.brand img{
    width: 180px;
    height: 100px;
}
.brand h2{
    font-size: 20px;
    width: 900px;
}

.team h2{
    font-size: 30px;
    font-weight: 500;
}
h3 {
    color: white;
    font-size: 24px;
    margin: 4px 0px;
}

h4 {
    color: white;
    font-size: 20px;
    margin: 4px 0px;
}

.back p {
    color: black;
    font-size: 24px;
    margin: 4px 0px;
}

.baris{
    display: flex;
    justify-content: space-between;
    margin: 40px 40px;
}

.front img{
    border-radius: 100%;
    width: 200px;
    height: 200px;
    margin: 12px 0px;
}

.flip_card {
    border-radius: 20px;
    background-color: transparent;
    width: 350px;
    height: 350px;
    margin: 0px 20px;
    perspective: 1000px;
}

.flip {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    border-radius: 20px;
}

.flip_card:focus {
    outline: 0;
}

.flip_card:hover .flip,
.flip_card:focus .flip{
    transform: rotateY(180deg);
}

.front,
.back {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.front {
    display: flex;
    flex-direction: column;
    background-color: #3F3836;
    color: black;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back {
    display: flex;
    flex-direction: column;
    background-color: white;
    color: black;
    transform: rotateY(180deg);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}


