* {
	margin: 0;
	padding: 0;	
    max-width: 100%;
	font-family: Raleway, sans-serif;
}


.container{
    margin: 70px 40px;
    display: flex;
    justify-content: space-between;

}
.containerimg{
    width: 680px;
    display: flex;
    justify-content: center;
}

.text_desc{
    width: 680px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.size p{
    font-size: 15px;
    font-weight: 600;
}
.size{
    width: 172px;
    height: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-top: 22px;
    margin-bottom: 11;
}


.size-circle {
    background-color: #DED6C4;
    width: 24px;
    height: fit-content;
    padding: 4px 0px 5px 0px;
    font-size: 13px;
    font-weight: 500;
    border-radius: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.size-circle:hover{
    background-color: #3F3836;
    color: white;
    cursor: default;
}


.mainproductname{
    font-weight: 500;
    font-size: 32px;
    text-align: center;
}

.mainprice{
    font-weight: 300;
    font-size: 28px;
    text-align: center;
    margin-bottom: 22px;
}

.add-item{
    width:300px ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 36px;
    margin-bottom: 12px;
    border: 2px solid;
}
.quantity-input{
    width: 120px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 2px solid;

}
.quantity-input span{
    font-size: 18px;
    width: 100%;
    text-align: center;
}

.plus:hover{
    border-style: groove;
    cursor: default;
}

.minus:hover{
    border-style: groove;
    cursor: default;
}

.add{
    display: flex;
    width: 180px;
    height: 36px;
    justify-content: center;
    align-items: center;
    cursor: default;
}
.add p{
    font-size: 16px;
    font-weight: 500;
}
.add:hover{
    background-color: #3F3836;
    color: white;
    border-style: solid;
}

.desc_label{
    font-size: 20px;
    font-weight: 500;
    padding-left: 8px;
    padding-bottom: 4px;
    padding-top: 4px;
    display: flex;
    align-items: center;
    background-color: #3F3836;
    color: white;
}
.desc_detail{
    padding: 8px 8px;
    background-color: #DED6C4;
    font-size: 16px;
    font-weight: 400;
}
.description{
    width: 650px;
    height: 238px;
    display: flex;
    flex-direction: column;
    margin-top: 22px;
}


.related{
    width: 900px;
    height: 350px;
    display: flex;
    overflow-x: scroll;
}
  
.slider{
    width: 100%;
    height: 350px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    flex: none;
}

.product {
    height: 350px;
    width: 210px;
}
  
.productname {
    font-size: 14px;
    padding-top: 8px;
    font-weight:600;
    text-align: center;
}
  
.price{
    font-size: 12px;
    font-weight: 400;
    text-align: center;
}
  
.related-label{
    font-size: 16px;
    font-weight: 600;
    text-align: center;
}
  
.product img{
    height: 280px;
    width: 210px;
}

.product img:hover{
    cursor: pointer;
}

.related::-webkit-scrollbar{
    display: none;
}
  
.related-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto ;
}
  
#prev, #next{
    width: 40px;
    cursor: pointer;
    margin: 30px;
}