*{
	margin: 0;
	padding: 0;	
    max-width: 100%;
}

.herosection{
    width: 100%;
    height: 50%;
    display: flex;
    background-color: #DED6C4;
    justify-content: space-between;
    align-items: center;
    padding-top: 9rem;
}


.texthero{
    /* padding-left: 15%; */
    text-align: center;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.texthero h1, h2{
    font-family: 'ruda', sans-serif;
    font-size: 36px;
    font-weight: 500;
}

.texthero h3{
    font-family: 'Pinyon Script', sans-serif;
    font-size: 48px;
    font-weight: 300; 
    text-transform: lowercase;
}

.imagehero{
    display: flex;
    justify-content: right;
}

.imagehero img{
    width:80%;
    height: 80%;
}

.bestsellersection{
    background-color: white;
}

.bestsellertext{
    text-align: center;
    padding-top: 34px;
}

.bestsellertext1{
    font-family: 'ruda', sans-serif;
    font-size: 28px;
    font-weight: 500;

}
.bestsellertext2{
    font-family: 'sura', sans-serif;
    font-size: 16px;
    font-weight: 300;
}

.bestsellerimages{
    display: flex;
    flex-wrap: wrap;   
    justify-content: space-around;
    margin: 32px 120px;
    margin-bottom: 34px;
}

.productname {
    font-family: 'inter', sans-serif;
    font-size: 16px;
    font-weight:500;
    text-align: center;
}
.price{
    font-family: 'inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

.gallerytext{
    text-align: center;
    padding-top: 34px;
    font-family: 'ruda', sans-serif;
    font-size: 28px;
    font-weight: 500;
}

.galleryimages{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 32px 120px;
}

.usernameig{
    text-align: center;
    font-family: 'inter', sans-serif;
    text-transform: lowercase;
    font-weight: 300;
    font-size: 16px;
    padding-bottom: 24px;
}

.footersection{
    background-color: #F3EDE1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px; padding-top: 50px;
}

.footersection ul li{
    list-style: none;
    font-family: 'inter', sans-serif;
    font-size: 12px;
    font-weight: 500;
    color: #000000;
    display:inline-block;
    margin: 0 50px;
    position: relative;
}
.footersection ul li a{
    text-decoration: none;
    color: #3F3836;
    text-transform: uppercase;
}
.footersection ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background:#3F3836;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.footersection ul li:hover::after{
    width: 100%;
}

.footersection .logo{
    font-size: 2rem;
    font-weight: bolder;
    color: #000000;
    text-transform: lowercase;
    padding-bottom: 1rem; padding-top: 5rem
}

.footersection .about-us{
    font-size: 12px;
    font-weight: 300;
    color: #000000;
    font-family: 'Inter', sans-serif;
    margin-left: 20%; margin-right: 20%;
    padding-bottom: 1rem;
    text-align: center;

}


.socialsection{
    background-color: #3F3836;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.iglogo{
    padding-right: 34px;}



@media (max-width: 991px){
    .texthero h1,h2{
        font-size: 24px;
    }

    .texthero h3{
        font-size: 36px;
    }
}

@media (max-width: 768px){
    .texthero h1,h2{
        font-size: 18px;
    }

    .texthero h3{
        font-size: 30px;
    }
}

@media (max-width: 450px){
    .texthero h1,h2{
        font-size: 6px;
    }

    .texthero h3{
        font-size: 8px;
    }

}
