:root{
    --color1: #F3EDE1;
    --color2: #DED6C4;
    --color3: #B7A697;
    --color4: #A58A7C;
    --color5: #3F3836;
    --black: #000000;
    --border: .1rem solid rgba(0,0,0,.1);
    --border-hover: .1rem solid var(--black);
    --box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: width none;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: 1rem;
}

html::-webkit-scrollbar-thumb{
    background: #3F3836;
}

.header {
    position: sticky;
    top: 0; left: 0; right: 0;
    z-index: 1000;
}

.header .header-1{
    background: #B7A697;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.header .header-1 .logo{
    font-size: 2.5rem;
    font-weight: bolder;
    color: #000000;
    text-transform: lowercase;
    margin-left: 3rem;

}

.header .header-1 .search-form{
    width: 20rem;
    height: 3rem;
    overflow: hidden;
    background: #B7A697;
    display: flex;
}


.header .header-1 .search-form input{
    background: none;
    font-size: 1.6rem;
    padding: 0 1.2rem;
    height: 100%;
    width: 100%;
    text-transform: none;
    color: #000000;
    border: none;
	border-bottom: 2px solid #A58A7C;
}

.header .header-1 .search-form label{
    font-size: 2.5rem;
    display: flex;
    align-items: center;
    color: #000000;
    cursor: pointer;
}

.header .header-1 .icons div{
    display: inline-block;
    margin-right: 3rem;
    color: #000000;
    cursor: pointer;
}

#search-btn{
    display: none;
}

.header .header-2{
    background: #F3EDE1;
}

.header .header-2 .navbar{
    text-align: center;
}

.header .header-2 .navbar a{
    color: #000000;
    display: inline-block;
    padding: 1rem;
    font-size: 1.5rem;
    font-family: 'inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.header .header-2 .navbar a:hover{
    background: #DED6C4;
}

/* .header .header-2.active{
    position: fixed;
    top:0; left:0; right:0;
    z-index: 1000;
} */


.bottom-navbar{
    text-align: center;
    background: #F3EDE1;
    position: fixed;
    bottom:0; left:0; right:0;
    z-index: 1000;
    display: none;
}

.bottom-navbar a{
    font-size: 2.5rem;
    padding: 1rem;
    color: #000000;
}

.bottom-navbar a:hover{
    background: #DED6C4;
}

ul{
    list-style: none;
}

ul li{
    display: inline-block;
    position: relative;
}

ul li a{
    display: block;
    text-decoration: none;
    text-align: center;
}

ul li ul.dropdown li{
    display: block;
}

ul li ul.dropdown{
    background: #F3EDE1;
    position: absolute;
    z-index: 999;
    display: none;
    top: auto;
    bottom: 100%;
}

ul li ul.dropdown li a {
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
    text-align: center;
    font-family: 'inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

ul li:hover ul.dropdown{
    display: block;
} 

/* FOOTER */

.footersection{
    background-color: #F3EDE1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px; padding-top: 50px;
}

.footersection ul li{
    list-style: none;
    font-family: 'inter', sans-serif;
    font-size: 12px;
    font-weight: 500;
    color: #000000;
    display:inline-block;
    margin: 0 50px;
    position: relative;
}
.footersection ul li a{
    text-decoration: none;
    color: #3F3836;
    text-transform: uppercase;
}
.footersection ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background:#3F3836;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.footersection ul li:hover::after{
    width: 100%;
}

.footersection .logo{
    font-size: 2rem;
    font-weight: bolder;
    color: #000000;
    text-transform: lowercase;
    padding-bottom: 1rem; padding-top: 5rem
}

.footersection .about-us{
    font-size: 12px;
    font-weight: 300;
    color: #000000;
    font-family: 'Inter', sans-serif;
    margin-left: 20%; margin-right: 20%;
    padding-bottom: 1rem;
    text-align: center;

}


.socialsection{
    background-color: #3F3836;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.iglogo{
    padding-right: 34px;}


@media (max-width: 991px){
    html{
        font-size: 55%;
    }
}

@media (max-width: 768px){

    html{
        scroll-padding-top: 0;
    }

    body{
        padding-bottom: 6rem;
    }

    .header .header-2{
        display: none;
    }

    .bottom-navbar{
        display: block;
    }

    #search-btn{
        display: inline-block;
    }

    .header .header-1{
        box-shadow: var(--box-shadow);
        position: relative;
    }

    .header .header-1 .search-form{
        position: absolute;
        top:-115%; right:7rem;
        width: 75%;
        box-shadow: var(--box-shadow);
    }

    .header .header-1 .search-form.active{
        top:115%;
        border-radius: 3rem;
        height: 4rem;
        padding: 1rem;
    }
}

@media (max-width: 450px){
    html{
        font-size: 50%;
    }
}
